---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import TagList from '../../components/TagList.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {

//   const allPosts = await Astro.glob('../posts/*.md');
  const allPosts = await getCollection("blog", ({ data }) => {
    return data.draft !== true
  })

  // retrieve all tags from all posts
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  // iterate over tags and return the array of objects
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts }, // the return of filtered posts here is mapped to posts (which is the prop below)
    };
  });
}

const dateFormatter = new Intl.DateTimeFormat("en-gb", { year: 'numeric', month: 'long', day: 'numeric' })

// Astro.params is special here because it dynamically is doing the routes
const { tag } = Astro.params;
const { posts } = Astro.props; // posts here is actually the filtered posts from above

const activeNav = 3;
// console.log(posts)
---
<BaseLayout pageTitle={tag} activeNav={activeNav}>
    <h2>Posts with the tag &nbsp;</h2> <TagList tags={[tag]} tagSize=2 tagDisplay="inline"/>
    <hr />
  <ul>
    {posts.map((post) => <BlogPost url={"/blog/" + post.slug} title={post.data.title} date={dateFormatter.format(post.data.pubDate)} tags={post.data.tags} />)}
  </ul>
</BaseLayout>

<style lang="scss">
    ul {
        padding: 0px;
    }
    h2 {
      display: inline;
    }
</style>