---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from "../components/Greeting.jsx";
import {Image} from "astro:assets"
import profpic from "../assets/cals_profile_shot.jpg"

import "../styles/mdpost.scss"

const pageTitle = "Home Page";
const activeNav = 0;
---
<BaseLayout pageTitle={pageTitle} activeNav={activeNav}>
<h1>Hello, welcome to my <span class="home-text">digital home</span>!</h1>
<!-- <h2 class="subtitle"> We're a shoes-<span class="shoes-off-text">off</span> type of household...</h2> -->
<figure class="home-container">
<figcaption class="home-caption">
We're a shoes-<span class="shoes-off-text">off</span> type of household...
</figcaption>
<img class="home-img" src="/home_compressed.svg" width=400px>	
</figure>
<p>I'm a statistics PhD student at the University of Wisconsin, Madison. I currently work as a <a href="https://calslab.cals.wisc.edu/stat-consulting/">statistical consultant</a> for the College of Agriculture and Life Sciences, specializing in experimental design &mdash; with many of my clients coming from the dairy, plant and veterinary sciences. My research interests are broadly in network statistics, dynamics-based modeling and correlation modeling. Part of my work has been supported by the <a href="https://qbi.wisc.edu/education/training-grants/biodata-science/">Bio-Data Science Training Grant</a> from the National Library of Medicine. I'm also passionate about promoting statistical literacy and <a href="https://cdis.wisc.edu/statistics-graduate-student-association/">local community engagement.</a></p>
	
<p>
In the past, I've worked on improving safety data models for <a href="https://getcruise.com/">self-driving cars</a>, and helped maintain a <a href="https://www.nist.gov/programs-projects/nist-chemistry-webbook#:~:text=The%20NIST%20Chemistry%20WebBook%20is,educators%20and%20the%20general%20public.">database</a> of quantum-optimized chemical structures. I completed my computer science and neuroscience bachelor's degrees at Duke University, while <a href="/AnkyrinG_PTM_Poster.pdf"> studing key proteins</a> for neuron structure.

<p>If I have a spare moment, you'll probably find me tinkering with new technologies, playing frisbee or home roasting some coffee!</p>

<p>
Feel free to contact me directly, anywhere you can find me!
</p>


<Image class="profpic" src={profpic} width="300px" aspectRatio="9:16" alt="Profile Picture"/>

</BaseLayout>

<!-- <BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<Greeting client:load messages={["Hello", "Hi", "Hey", "Howdy"]} />
</BaseLayout> -->

<style lang="scss">
.home-text {
  font-variant: small-caps;
}

.shoes-off-text{
  font-variant: small-caps;
//   font-size: 1.5em;
}

.subtitle {
  color: #9f9f9f;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: left;
  margin: 0px 0px;
//   padding: 20px 0px; 
}

.home-caption {
	// padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5rem;
	color: #9f9f9f;
}

.home-img {
	justify-self: center;
}

@media screen and (max-width: 600px) {
	.home-img {
		width: 300px;
	}
	.profpic {
		width: 200px;
		height: 300px;
	}
}

</style>