---

// style sheets
import "../styles/global.scss"
import "katex/dist/katex.min.css" // include katex support explicitly
import "../styles/mdpost.scss"

// components
import BaseLayout from './BaseLayout.astro';
import Giscus from "../components/Giscus.astro";
import TagList from "../components/TagList.astro"
import { Image } from "astro:assets";

const dateFormatter = new Intl.DateTimeFormat("en-GB", { year: 'numeric', month: 'long', day: 'numeric', timeZone: "UTC"})

// properties
const { frontmatter } = Astro.props;
const tags = frontmatter.tags;


// constants
const activeNav = 1;
const tagSize = 1; // scales rem
---

<BaseLayout pageTitle={frontmatter.title} activeNav={1}>
    <div class="blog-meta">
<span class="date">{dateFormatter.format(frontmatter.pubDate)}</span>
<div class="tags">
<TagList tags={tags} />
</div>
</div>
<h1 class="title">{frontmatter.title}</h1>
<!-- <p>Written by {frontmatter.author}</p> -->
<!-- <p>Published on {frontmatter.pubDate.toDateString()}</p> -->
<!-- <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div> -->

<!-- <Image src={frontmatter.image.url} alt={frontmatter.title} height="405" width="720"/> -->
<slot />
<Giscus />
</BaseLayout>

<script src="../scripts/tippyfootnotes.js"></script>

<style lang="scss" is:global>
    @import "../../node_modules/nord/src/sass/nord.scss";

    .nord_table {
        width: 90%;
        // font-family:Verdana, Geneva, Tahoma, sans-serif;
        // font-family: 'Fira Code', monospace;
        font-family: 'Space Mono', monospace;
        font-weight: 100;
        // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        // padding: 5px 15px;
        // background-color: #eb7113;
        border-top: .25rem solid darken($nord0, 5%);
        border-bottom: .25rem solid darken($nord0, 5%);
        margin-bottom: 20px;
        border-collapse: collapse;
        line-height: 1.5rem;
        border-radius: 100%;
        
        & thead th {
            height: 2px;
            // width: 100%;
            // background-color: aquamarine;
            color: $nord6;
            font-weight: 800;
            border-bottom: .2rem solid $nord0;
            padding-bottom: 0px;
            // height: auto;
        }
        & tbody tr:nth-child(even) {
            // padding-top: 10px;
            // border-spacing: 0 15px;
            background-color: lighten($nord1, 4%);
            // background-color: $nord2;
        }

        & tbody tr:hover {
            background-color: $nord9;
        }


    }

</style>