---
// components
import BaseLayout from './BaseLayout.astro';
import TableOfContents from "../components/TableOfContents.astro";
import Giscus from "../components/Giscus.astro";
import TagList from "../components/TagList.astro"
import CoverPhoto from "../components/CoverPhoto.astro"
import { Image } from "astro:assets";

// style sheets
import "katex/dist/katex.min.css" // include katex support explicitly
import "../styles/mdpost.scss" // mdpost styles need to go after components

const dateFormatter = new Intl.DateTimeFormat("en-GB", {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: "UTC"})
  
  // properties
  interface Props {
    frontmatter: {
      title: string;
      pubDate: Date;
      tags: string[];
      image: {
        url: {
          src: string;
          height: number;
          width: number;
          format: string;
          caption: string;
        };
        alt: string;
      };
    };
    headings: {
      depth: number;
      text: string;
      slug: string;
    }[];
  }
  const { frontmatter, headings } = Astro.props;
  const tags = frontmatter.tags;
  
  // conditional display of cover photo
  const hasCover = frontmatter.image !== undefined;
  // console.log(frontmatter.image.format)
  // const isSVGorGIF = hasCover && ["svg", "gif", "GIF"].includes(frontmatter.image.url.split(".").slice(-1)[0])
  const isSVGorGIF = hasCover && ["svg", "gif", "GIF"].includes(frontmatter.image.url.format)
  // console.log(frontmatter.image)
  // console.log(isSVGorGIF)
  
  // check if TOC
  //TODO: implement todo content
  
  // console.log(frontmatter.image.url.split(".").slice(-1)[0])
  
  // console.log(headings)
  // console.log(content.astro?.headings)
  // console.log(Astro.props.getHeadings())
  
  // constants
  const activeNav = 1;
  const tagSize = 1; // scales rem
  ---
  
  <BaseLayout pageTitle={frontmatter.title} activeNav={1} >
    <main>
      {frontmatter.toc && <TableOfContents headings={headings} class="toc-nav" />}
      <article class="article-content">
        <div class="blog-meta">
          <span class="date">{dateFormatter.format(frontmatter.pubDate)}</span>
          <div class="tags">
            <TagList tags={tags} />
          </div>
        </div>
        <h1 class="title">{frontmatter.title}</h1>
        <!-- <Image src={frontmatter.image.url} alt={frontmatter.title} height="405" width="720"/> -->


        <!-- display cover photo -->
        {hasCover && <CoverPhoto src={frontmatter.image.url.src} alt={frontmatter.image.alt} height={frontmatter.image.url.height} width={frontmatter.image.url.width} format={frontmatter.image.url.format} caption={frontmatter.image.caption} />}
         {/*hasCover && (isSVGorGIF ? 
                      <img class="blog-cover" src={frontmatter.image.url.src} alt={frontmatter.image.alt}/> :
         <Image src={frontmatter.image.url.src} alt={frontmatter.image.alt} height={frontmatter.image.url.height} width={frontmatter.image.url.width}/>)*/}

        <slot />
        {frontmatter.comments && <Giscus />}
      </article>
    </div>
  </BaseLayout>
  
  <script src="../scripts/tippyfootnotes.js"></script>
  <script src="../scripts/toc.js"></script>
  
  <style lang="scss">
    @import "../../node_modules/nord/src/sass/nord.scss";
    
    
    .nord_table {
      width: 90%;
      // font-family:Verdana, Geneva, Tahoma, sans-serif;
      // font-family: 'Fira Code', monospace;
      font-family: 'Space Mono', monospace;
      font-weight: 100;
      // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
      // padding: 5px 15px;
      // background-color: #eb7113;
      border-top: .25rem solid darken($nord0, 5%);
      border-bottom: .25rem solid darken($nord0, 5%);
      margin-bottom: 20px;
      border-collapse: collapse;
      line-height: 1.5rem;
      border-radius: 100%;
      
      & thead th {
        height: 2px;
        // width: 100%;
        // background-color: aquamarine;
        color: $nord6;
        font-weight: 800;
        border-bottom: .2rem solid $nord0;
        padding-bottom: 0px;
        // height: auto;
      }
      & tbody tr:nth-child(even) {
        // padding-top: 10px;
        // border-spacing: 0 15px;
        background-color: lighten($nord1, 4%);
        // background-color: $nord2;
      }
      
      & tbody tr:hover {
        background-color: $nord9;
      }
      
      
    }
    
  </style>