---

// modules
// tippy js, for hover tooltips
import tippy from 'tippy.js';
import 'tippy.js/dist/tippy.css'; // optional for styling

// style sheets
// import "../../node_modules/katex/dist/katex.min.css"
import "katex/dist/katex.min.css" // include katex support explicitly
import "../styles/mdpost.scss"

// components
import BaseLayout from './BaseLayout.astro';
import Giscus from "../components/Giscus.astro";
import TagList from "../components/TagList.astro"


// properties
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
const tags = frontmatter.tags;

// constants
const activeNav = 1;
const tagSize = 1; // scales rem
---

<BaseLayout pageTitle={frontmatter.title} activeNav={1}>
    <div class="blog-meta">
<span class="date" style="color: lightgrey; font-size: .8rem;">{frontmatter.pubDate.toDateString()}</span>
<div class="tags">
<TagList tags={tags} />
</div>
</div>
<h1 class="title">{frontmatter.title}</h1>
<!-- <p>Written by {frontmatter.author}</p> -->
<!-- <p>Published on {frontmatter.pubDate.toDateString()}</p> -->
<!-- <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div> -->

<!-- <Image src={frontmatter.image.url} alt={frontmatter.title} height="405" width="720"/> -->
<slot />
<Giscus />
</BaseLayout>

<style lang="scss">
    @import "../../node_modules/nord/src/sass/nord.scss";
    .blog-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a {
      color: #00539F;
    }
  
    /* .tags {
      display: flex; 
      flex-wrap: wrap; 
      margin: 0 auto;  
    } */

    .date {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .title {
        margin-top: 5px;
    }

  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }

  </style>

  <style lang="scss" is:global>
    @import "../../node_modules/nord/src/sass/nord.scss";
    .astro-code {
        padding: 10px 15px;
        font-size: 1rem;
        line-height: 1.1rem;
        border-radius: 10px;
    }

    .nord_table {
        width: 90%;
        // font-family:Verdana, Geneva, Tahoma, sans-serif;
        // font-family: 'Fira Code', monospace;
        font-family: 'Space Mono', monospace;
        font-weight: 100;
        // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        // padding: 5px 15px;
        // background-color: #eb7113;
        border-top: .25rem solid darken($nord0, 5%);
        border-bottom: .25rem solid darken($nord0, 5%);
        margin-bottom: 20px;
        border-collapse: collapse;
        line-height: 1.5rem;
        border-radius: 100%;
        
        & thead th {
            height: 2px;
            // width: 100%;
            // background-color: aquamarine;
            color: $nord6;
            font-weight: 800;
            border-bottom: .2rem solid $nord0;
            padding-bottom: 0px;
            // height: auto;
        }
        & tbody tr:nth-child(even) {
            // padding-top: 10px;
            // border-spacing: 0 15px;
            background-color: lighten($nord1, 4%);
            // background-color: $nord2;
        }

        & tbody tr:hover {
            background-color: $nord9;
        }


    }

  </style>